<ion-view class="places-view">
  <ion-nav-title>{{ categoryTitle }}</ion-nav-title>
  <ion-nav-buttons side="right">
    <button class="button button-icon" ng-click="openDistanceModal()">
      <i class="icon ion-funnel"></i>
    </button>
    <button class="button button-icon" ng-disabled="places.length === 0"
    ng-click="navigateToMap()">
      <i class="icon ion-map"></i>
    </button>
    </ion-nav-buttons>
  <ion-content>
    <div ng-if="showErrorView()" ng-include="'main/templates/error-view.html'">
    </div>
    <div ng-if="showEmptyView()" ng-include="'main/templates/empty-view.html'">
    </div>

    <ion-refresher
    pulling-text="{{ 'loadingText' | translate }}"
    on-refresh="onReload()"></ion-refresher>

  	<div class="list" ng-if="showPlaces()">
	    <a class="item item-thumbnail-left item-button-right {{theme}}"
      href="#/app/place/{{place.id}}" ng-repeat="place in places" bindonce>
	      <img class="animated fadeIn" ng-src="main/assets/images/placeholder.png"
        actual-src="{{ place.imageThumb.url() }}">
	      <h2 bo-bind="$index + 1 + '. ' + place.title"></h2>
	      <p bo-text="place.description"></p>
        <rating ng-if="place.rating" ng-model="place.rating" max="maxRating">
        </rating>
        <button class="button button-clear">
          <span class="item-note {{ theme }}">
            {{ place.getDistance(params.location) }}{{ storage.unit }}
          </span>
        </button>
	    </a>
  	</div>

    <ion-infinite-scroll
      on-infinite="onLoadMore()"
      ng-if="moreDataCanBeLoaded()"
      spinner
      distance="1%">
    </ion-infinite-scroll>

  </ion-content>
</ion-view>
