$device-mockups-path: "../assets/images/device-mockups/";
$device-top-offset: 90px;
$base-z-index: 6;

$device-bg-color: #222;
$screen-bg-color-1: #169cc7;

// $screen-bg-color-1: #FFC84C;
// $screen-bg-color-1: #5CDD5C;
// $screen-bg-color-1: #FF6B6B;

$screen-bg-color-2: #F1F1F1;
$pager-color: #333;
$pager-size: 10px;
